version: "3.9"

services:
  django:
    container_name: pay_leave
    build: .
    command: >
      sh -c "
        python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "8000:8000"